* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;

}

:root {
  --x: 100px;
  --y: 100px;
}

#box {
  height: 100%;
  width: 100%;
  border: 1px solid white;

  background: radial-gradient(
    150px at var(--x) var(--y),
    rgb(255, 255, 255),
    rgb(0, 0, 0)
  );
}
